header {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;

    margin-top: 2.4rem;
    padding: 2rem 11.6rem 0;

    z-index: 1000;
}

.logo {
    font-size: 4.8rem;
    font-weight: var(--fw-bold);
    color: var(--clr-light);
}

.logo span {
    font-size: 2rem;
    font-weight: var(--fw-regular);
    color: var(--clr-primary);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.navbar__links {
    display: flex;
    gap: 4.8rem;
}

/* .navbar__links li {
    cursor: pointer;

    position: relative;
} */

.navbar__link {
    font-size: 1.6rem;
    font-weight: var(--fw-bold);
    color: var(--clr-light);

    text-transform: uppercase;
    letter-spacing: 0.06em;

    cursor: pointer;
    position: relative;
}

.navbar__link::before {
    content: "";

    position: absolute;
    right: -1rem;
    bottom: -0.3rem;
    width: 100%;
    height: 13px;

    background-color: var(--clr-accent);

    z-index: -1;

    transition: all 0.2s ease-out;
}

.navbar__link:hover::before {
    width: calc(100% + 20px);
    height: calc(100% + 7px);
}

.btn-menu {
    display: none;

    font-size: 3.2rem;
    color: var(--clr-light);

    background-color: transparent;
    border: none;
    cursor: pointer;

    transition: color 100ms ease-out;
}
