.footer {
    min-height: 100vh;
    padding: 2.4rem;

    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.footer__card {
    background-color: var(--clr-dark);
    flex: 1;
    min-height: 46rem;
}

.footer__card .container {
    display: flex;
    padding-top: 12rem;
    /* justify-content: space-between; */
    /* gap: 3rem; */
}

.footer__card h3,
.footer__card p {
    color: var(--clr-light);
}

.footer__card p {
    max-width: 66.4rem;
    margin-left: auto;
}

.card__text {
    font-size: 2.2rem;
    line-height: 168.2%;
}

.card__text span a {
    font-weight: var(--fw-bold);
    color: var(--clr-primary);
    text-decoration: underline;
}

.card__text span a:hover {
    text-decoration: none;
}

.footer__contact {
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
}

.footer__contact .container {
    display: flex;
}

.contact__category {
    flex: 1;
}

.contact__category h4 {
    margin-bottom: 2rem;
}

.contact__category ul {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
