:root {
    --clr-primary: #ad3520;
    --clr-accent: rgba(173, 53, 32, 0.3);
    --clr-dark: #25282b;
    --clr-light: #dddfc9;
    --clr-gray: rgba(37, 40, 43, 0.3);
    --clr-white: #f9f9f9;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi: 600;
    --fw-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
    font-weight: var(--fw-regular);

    color: var(--clr-dark);
    background-color: var(--clr-white);
}

.container {
    max-width: 120rem;

    margin: 0 auto;
    /* padding: 0 2rem; */
}

.container--small {
    max-width: 76.4rem;
    margin: 0 auto;
}

.container--medium {
    max-width: 82.4rem;
    margin: 0 auto;
}

.wrap {
    padding-left: 11.6rem;
    padding-right: 11.6rem;
}

ul {
    list-style: none;
}

h1 {
    font-size: 7.8rem;
    font-weight: var(--fw-bold);
    line-height: 113.2%;
    color: var(--clr-light);
}

h2 {
    font-size: 1.6rem;
    font-weight: var(--fw-semi);
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--clr-primary);
}

h3 {
    font-size: 6.4rem;
    font-weight: var(--fw-bold);
}

h4 {
    font-size: 1.6rem;
    font-weight: var(--fw-semi);
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--clr-primary);
}

a {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

img {
    width: 100%;
}

.btn-box {
    /* position: relative; */
    width: fit-content;

    transition: all 0.2s ease-in;
}

.btn {
    font-size: 2rem;
    font-weight: var(--fw-medium);
    padding: 1.2rem 3.6rem;

    transform: translate(1rem, 1rem);

    transition: all 0.2s ease-in;
}

.btn-box:hover {
    border-color: transparent;
}

.btn-box:hover .btn {
    transform: translate(0);
}

.btn-box--primary {
    border: 1px solid var(--clr-light);
}

.btn-box--primary a {
    color: var(--clr-light);
    background-color: var(--clr-primary);
}

.btn-box--secondary {
    border: 1px solid var(--clr-primary);
}

.btn-box--secondary a {
    color: var(--clr-light);
    background-color: var(--clr-dark);
}

/* 
|----||----||----||----||----|
        Reactive design 
|----||----||----||----||----|
*/
/* 
    1380px - Small desktops
        86 * 16 = 1380
*/
@media (max-width: 86em) {
    html {
        font-size: 56.25%;
    }

    .hero__wrap {
        padding-top: 14rem;
    }

    .hero--project .hero__wrap {
        padding-top: 14rem;
    }

    .project-img-full {
        transform: translateY(-10rem);
    }

    .footer__card p {
        /* max-width: 60rem; */
        padding-left: 3rem;
    }
}

/* 
    1180px - Laptop
    74 * 16 = 1180
*/
@media (max-width: 74em) {
    header {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .wrap {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .hero__wrap {
        padding-left: 5.6rem;
        min-height: 70rem;
    }

    .footer__card .container {
        flex-direction: column;
    }

    .footer__card p {
        /* max-width: 60rem; */
        max-width: 100%;

        padding-top: 3rem;
        padding-left: 0;
        margin-left: 0;
    }
}

/* 
    900px - Landscape Tablet
        56 * 16 = 900
 */
@media (max-width: 56em) {
    html {
        font-size: 54%;
    }

    h1 {
        font-size: 7.6rem;
    }

    .hero__wrap {
        min-height: 80rem;
        /* max-height: 80rem; */
    }

    .preview {
        flex-direction: column;
    }

    .preview__info {
        width: 100%;
    }

    .info__tags {
        margin-bottom: 4rem;
    }

    .info__description {
        max-width: 56rem;
    }

    .preview__img {
        margin-top: 3rem;
        max-width: 50rem;
        /* align-self: flex-start; */
    }

    .card__text {
        font-size: 2rem;
    }

    .container--medium {
        max-width: 70rem;
        padding: 0 4.8rem;
    }

    .project-img-full {
        transform: translateY(-6rem);
    }
}

/* 
    520px - Tablet
    33 * 16 = 520
*/
@media (max-width: 33em) {
    html {
        font-size: 52%;
    }

    h3 {
        font-size: 5.4rem;
    }

    header,
    .wrap {
        padding-left: 4.8rem;
        padding-right: 4.8rem;
    }

    .hero__wrap {
        /* min-height: 90rem; */

        padding-bottom: 6rem;
        min-height: 0;
        height: fit-content;
    }

    .hero__wrap,
    .footer__card .wrap,
    .footer__contact .wrap {
        padding-left: 2.4rem;
        padding-right: 2.4rem;
    }

    .footer__card .container {
        padding-top: 8rem;
    }

    .card__text {
        font-size: 1.8rem;
    }

    .footer__contact .container {
        flex-direction: column;
        gap: 4.8rem;
    }

    .hero--about .hero__wrap {
        padding: 14rem 2.4rem 8rem;
        min-height: fit-content;
        height: fit-content;
    }

    /* Reactive Navbar */
    header .container {
        align-items: center;
    }

    .btn-menu {
        display: block;
    }

    .navbar__links {
        display: none;
    }

    header.show .logo {
        visibility: hidden;
    }

    header.show .navbar__links {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        position: absolute;

        top: 2rem;
    }

    header.show .btn-menu {
        color: var(--clr-primary);
    }
}

/* 
    376px - Big Phone
    24 * 16 = 376
*/
@media (max-width: 24em) {
    h1 {
        font-size: 5rem;
    }

    h3 {
        font-size: 4rem;
    }

    .wrap {
        padding-left: 2.4rem;
        padding-right: 2.4rem;
    }

    .card__text {
        font-size: 1.6rem;
    }

    .hero--project h1 {
        margin-bottom: 6rem;
    }

    .about-section {
        padding-top: 8rem;
    }
}

/* 
    280px - Phone
    18 * 16 = 280
*/
@media (max-width: 18em) {
    h1 {
        font-size: 4.2rem;
    }

    h3 {
        font-size: 3.2rem;
    }
}
